.wrapper{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    font-size: 30px;
}

.green{
    background-color: #49dd5d;
    transition: flex-grow 1s ease;
}
.red{
    background-color: #a33d3d;
    transition: flex-grow 1s ease;
}

.blue{
    background-color: #4958dd;
    transition: flex-grow 1s ease;
}

.yellow{
    background-color: #d1cf46;
    transition: flex-grow 1s ease;
}

.perple{
    background-color: #703fca;
    transition: flex-grow 1s ease;
}

.green:hover, .red:hover, .blue:hover, .yellow:hover, .perple:hover{
    display: flex;
    flex-grow: 1;
}